apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: dev-namespace
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - name: http
    port: 8080
    targetPort: 8080
